@import url('http://fonts.googleapis.com/css?family=Oxygen');

body {
    margin-top: 3em;
}

h1, h2 {
    text-align: center;
    font-family: Oxygen;
}

h1 {
    font-size: 100px;
    font-weight: normal;
}

.reveal a:not(.image) {
    text-decoration: none;
}

.reveal #trwbt {
    top: -460px ! important;
}

.reveal #trwbt h1 {
    font-size: 90px;
}

.reveal #descriptors {
    top: -400px ! important;
}

.reveal #descriptors h1 {
    font-size: 90px;
}

.reveal #descriptors img {
    height: 18em;
}

#spaces {
    top: -410px ! important;
}

#spaces object {
    height: 18em;
    margin-left: -6em;
}

.reveal p {
    margin-top: 1em;
    text-align: justify;
}

.reveal cite {
    font-style: italic;
}

#mill {
    top: -410px ! important;
}

#mill img {
    height: 15em;
}

#brmcrc img {
    border: none ! important;
    background: none;
}

h1, h2 {
    text-shadow:
     -1px -1px 0 #999,  
      1px -1px 0 #999,
     -1px  1px 0 #999,
      1px  1px 0 #999
     ! important;
}

#title h1 {
    color: #B86E07;
    font-size: 140px;
    margin-bottom: .5em;
}

#title h2 {
    color: green;
    margin-bottom: .5em;
}

#BandZ h1 {
    color: #DE3E99;
    margin-bottom: .5em;
}

#BandZ p {
    text-align: center;
    font-size: 44px;
}

#Bday h1 {
    color: #2225F2;
}

#Bday p {
    text-align: center;
    font-size: 55pt;
}

#multi-master h1 {
    color: #D6F222;
}

#couchdb h1 {
    color: #229FF2;
}

#ipfs h1 {
    color: #F29822;
}

#technoanarchy h1 {
    color: #EB4D4D;
}

#lustrum h1 {
    color: #1E9E0D;
}

#descriptors h1 {
    color: #E38520;
}

#goals h1 {
    color: #20CFE3;
}

.reveal q {
    font-style: normal;
    quotes: "“" "”";
}

#spaces h1 {
    color: #F24900;
    margin-bottom: .5em;
}

.reveal #yggdrasil {
    top: -400px ! important;
}

#yggdrasil object {
    height: 18em;
}

#yggdrasil h1 a {
    color: #6900F2;
    display: block;
    margin-bottom: .25em;
}

#bases h1 {
    color: #6900F2;
}

#bases iframe {
    height: 18em;
}